@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&display=swap');
 /* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,700&display=swap'); */
html,
.content {
  height: 100vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-y: auto;
  /* font-weight: 900; */

}

/* .app{
  display: flex;
  position: relative;
  
} */

/* ::-webkit-scrollbar{
  width: 5px;
  border-radius: 0.2px;
}

/* Track */
/* ::-webkit-scrollbar-track{
  background-color: #e0e0e0;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on Hover */
/* ::-webkit-scrollbar-track:hover {
  background: #555;
} */ 

.wrapper{
  background-image: url(./assets/img/background.jpg);
  background-size: cover;
  opacity: 0.9;
  
 
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* .wrapperAuth{
  height: 100vh;

  overflow: auto;
  width: 100%;
  display: table;
  opacity: 0.9;
} */